In [31]:
import pandas as pd
from math import prod

## Statistical characterization of the general development

#### Ungrouped data

In [54]:
data = pd.DataFrame({
    "Y" : [18, 20, 22, 20, 24, 22]
})

$$\overline{y}=\frac{\displaystyle\sum_{i=1}^{N} y_i}{N}$$

In [55]:
def average_ungrouped_data(data):
    return sum(data.Y)/len(data.Y)

In [56]:
average_ungrouped_data(data)

21.0

#### Grouped data

In [218]:
data = pd.DataFrame({
    "Y" : [18, 20, 22, 24],
    "t_i" : [1, 2, 2, 1]
})

$$\overline{y}=\frac{\displaystyle\sum_{i=1}^{m} y_i t_i}{\displaystyle\sum_{i=1}^{m} t_i}$$

In [52]:
def average_grouped_data(data):
    return sum(data.Y * data.t_i)/sum(data.t_i)

In [53]:
average_grouped_data(data)

21.0

#### Weighted average ungrouped

In [166]:
data = pd.DataFrame({
    "t_i" : ["01.01", "01.02", "01.03", "01.04", "01.05", "01.06"],
    "Y" : [1200, 1230, 1210, 1240, 1220, 1216]
})

$$\overline{y}=\frac{\displaystyle\sum_{i=1}^{N - 1} \frac{y_i + y_{i+1}}{2}}{N - 1}$$

In [169]:
def weighted_average_ungrouped(data):
    sum_y = 0
    for i in range(len(data.Y)-1):
        sum_y += data.Y[i] + data.Y[i+1]
    div_y = sum_y/2
    return div_y/(len(data.Y) - 1)

In [170]:
weighted_average_ungrouped(data)

1221.6

#### Weighted average grouped

In [171]:
data = pd.DataFrame({
    "date": [1, 3, 4, 6],
    "Y": [1200, 1230, 1210, 1240]
})

$$\overline{y}=\frac{\displaystyle\sum_{i=1}^{N - 1} \frac{y_i + y_{i+1}}{2}(t_{i+1} - t_i)}{\displaystyle\sum_{i=1}^{N - 1}(t_{i+1} - t_i)}$$

In [182]:
def weighted_average_grouped(data):
    sum_t = 0
    sums = 0
    for i in range(len(data.Y) - 1):
        t = data.date[i + 1] - data.date[i]
        sum_y = data.Y[i] + data.Y[i+1]
        sum_y_mul_t = sum_y * t
        sum_y_mul_t = sum_y_mul_t/2
        sums += sum_y_mul_t
        sum_t += t
    return sums/sum_t

In [183]:
weighted_average_grouped(data)

1220.0

#### Geometric mean

$$\overline{y}_g=\sqrt[N]{y_1.y_2.y_3 \dots y_N}$$

In [185]:
data = pd.DataFrame({
    "Y" : [2, 4, 8, 16, 32]
})

In [215]:
def prod(data):
    product = 1
    for element in data:
        product *= element
    return product

In [216]:
def geometric_mean(data):
    return prod(data.Y)**(1/len(data.Y))

In [217]:
geometric_mean(data)

8.000000000000002

#### Problem

In [222]:
data = pd.DataFrame({
    "date": ["Jan", "Feb", "Mar", "Apr", "May", "Jun"],
    "cost": [382, 412, 450, 494, 477, 486]
})

In [223]:
data

  date  cost
0  Jan   382
1  Feb   412
2  Mar   450
3  Apr   494
4  May   477
5  Jun   486

#### Absolute growth at a constant base

$$\Delta_{2/1}=y_2 - y_1$$
$$\Delta_{3/1}=y_3 - y_1$$
$$\vdots$$

In [242]:
def absolute_growth_constant_base(data):
    
    return [data[i] - data[0] for i in range(len(data))]

In [243]:
absolute_growth_constant_base(data.cost)

[0, 30, 68, 112, 95, 104]

#### Absolute growth at chain base

$$\Delta_{2/1}=y_2 - y_1$$
$$\Delta_{3/2}=y_3 - y_2$$
$$\vdots$$

In [246]:
def absolute_growth_chain_base(data):
    growth = []
    for i in range(len(data)):
        if i == 0:
            growth.append(0)
        else:
            growth.append(data[i] - data[i-1])
    return growth

In [247]:
absolute_growth_chain_base(data.cost)

[0, 30, 38, 44, -17, 9]

#### Rates at a constant base

$$T_{2/1}=\frac{y_2}{y_1}$$
$$T_{3/1}=\frac{y_3}{y_1}$$
$$\vdots$$

In [256]:
def rates_constant_base(data):
    return [data[i] / data[0] for i in range(len(data))]

In [257]:
rates_constant_base(data.cost)

[1.0,
 1.0785340314136125,
 1.1780104712041886,
 1.293193717277487,
 1.2486910994764397,
 1.2722513089005236]

#### Rates at a chain base

$$T_{2/1}=\frac{y_2}{y_1}$$
$$T_{3/2}=\frac{y_3}{y_2}$$
$$\vdots$$

In [258]:
def rates_chain_base(data):
    rates = []
    
    for i in range(len(data)):
        if i == 0:
            rates.append(0)
        else:
            rates.append(data[i] / data[i-1])
    return rates

In [259]:
rates_chain_base(data.cost)

[0,
 1.0785340314136125,
 1.0922330097087378,
 1.0977777777777777,
 0.9655870445344129,
 1.0188679245283019]

#### Growth rates constant base

$$\Delta_{2/1(\%)}=\frac{y_2 - y_1}{y_1}100$$
$$\Delta_{3/1(\%)}=\frac{y_3 - y_1}{y_1}100$$
$$\vdots$$

In [262]:
def growth_rates_constant_base(data):
    rates = []
    
    for i in range(len(data)):
        rates.append(((data[i] - data[0])/data[0])*100)
    return rates

In [263]:
growth_rates_constant_base(data.cost)

[0.0,
 7.853403141361256,
 17.801047120418847,
 29.31937172774869,
 24.86910994764398,
 27.225130890052355]

#### Growth rates chain base

$$\Delta_{2/1(\%)}=\frac{y_2 - y_1}{y_1}100$$
$$\Delta_{3/2(\%)}=\frac{y_3 - y_2}{y_2}100$$
$$\vdots$$

In [264]:
def growth_rates_chain_base(data):
    rates = []
    
    for i in range(len(data)):
        if i == 0:
            rates.append(0)
        else:
            rates.append(((data[i] - data[i-1])/data[i-1])*100)
    return rates

In [266]:
growth_rates_chain_base(data.cost)

[0,
 7.853403141361256,
 9.223300970873787,
 9.777777777777779,
 -3.4412955465587043,
 1.8867924528301887]

#### Average absolute growth

$$\overline{\Delta}_y=\frac{\Delta_{2/1}+ \Delta_{3/2} + \dots + \Delta_{N/N-1}}{N-1}$$

In [267]:
def average_absolute_growth(data):
    absolute_bases = absolute_growth_chain_base(data)
    return sum(absolute_bases) / len(absolute_bases)

In [268]:
average_absolute_growth(data.cost)

17.333333333333332

#### Average geometric rate

$$\overline{T}=\sqrt[N-1]{T_{2/1}T_{3/2}T_{4/3} \dots T_{N/N-1}}=\sqrt[N-1]{\frac{y_N}{y_1}}$$

In [283]:
def average_geometric_rate(data):
    rates = rates_chain_base(data)
#     rates[1:] skip 0 from first element
#     result_func = prod(rates[1:])**(1/len(rates))
    result_formula = (data[len(data)-1] / data[0])**(1/len(rates))
    return result_formula

In [284]:
average_geometric_rate(data.cost)

1.0409474789706696